@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Figtree', sans-serif;
}

/* #mouse_follow{
    transition: all 0.04s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#herotext{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}